@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("../components/SEGA.woff") format("woff");
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  color: #96ccff;
}
h2 {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}
